<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds">

    <appender name="LOGFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>target/logs/banking-api.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/banking-api.log.%d{yyyy-MM-dd}.gz</fileNamePattern>
            <maxHistory>14</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%d %-5p [%t] %c{1}: %replace(%m){'\r?\n',''}%n</pattern>
        </encoder>
    </appender>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d %-5p [%t] %c{1} [%L]: %replace(%m){'\r?\n',''}%n</pattern>
        </encoder>
    </appender>

    <logger name="org.example.banking.bankingapi" level="INFO" />
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>

</configuration>
